.list {
    font-size: 22px;
    text-align: center;
    list-style: square;
    list-style: inside;
    color: white;
    font-family: 'Nerko One', cursive;
}

.title {
    font-size: 44px;
    text-align: center;
    color: white;
    font-family: 'Nerko One', cursive;
    text-decoration: underline;
}
body {
    background-color: black;
}